
    #colonne1
    {
        float: left;
        clear:left;
        width: 49%;
        padding: 2px 2px 2px 2px;/* top right bottom left */
    }
    #colonne2
    {
        float: right;
        clear:right;
        width: 49%;
        padding: 2px 2px 2px 2px;/* top right bottom left */
    }
    fieldset{
    border:solid 1px black; 
    padding:20px; 
    width:45%; 
    display: inline-block;
    }
  
    #envoie{
         /* display et dimensions */
 display: inline-block;
 width: 200px;
 height: 50px;
 /* centrage vertical */
 line-height: 50px;
 vertical-align: middle;
 /* centrage horizontal */
 text-align: center;
 /* font style */
 font-family: Arial,sans-serif;
 font-size: medium; 
 color: white;
 text-decoration: none;
 font-weight: bold;
 /* background style */
 background: blue;
 /* centrer le input*/
 width: 256px;
  margin-left: calc(50% - 128px);

    }
